---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">

<style>
	img {
		display: none
	}
</style>
	
	<main>

		<canvas id="myCanvas"></canvas>
		<img class="whale picture" src="/public/whale.jpg" alt="">
		<img class="dolphin picture" src="/public/dolphin.jpg" alt="">
	</main>
	<!-- ===============================================
	# vertex
	================================================ -->
	<script id="v-shader" type="x-shader/x-vertex">
	varying vec2 vUv;
	uniform float uFixAspect;

	void main() {
	// 余白ができないようにアスペクト補正
		vUv = uv - .5;
	  	vUv.y *= uFixAspect;
		vUv += .5;

		gl_Position = vec4( position, 1.0 );
	}
	</script>
	<!-- ===============================================
	# fragment
	================================================ -->
	<script id="f-shader" type="x-shader/x-fragment">
	// varying vec2 vUv;

	// uniform sampler2D uTex;
	// uniform float uPercent;
	// uniform float uTime;

	// void main() {
	// 	vec3 color = texture2D( uTex, vUv ).rgb;
	// 	vec3 invert = 1. - color;

	// 	color = mix( color, invert, uPercent );

	// 	gl_FragColor = vec4( color, 1.0 );
	// }

		varying vec2 vUv;

uniform float uTime;
uniform float uPercent;
uniform sampler2D uTex;

void main() {
  vec2 uv = vUv;

  float t = uTime * 6.;
  float amount = uPercent * 0.02;

  vec2 uvOffset = vec2( cos( uv.y * 20. + t ), sin( uv.x * 10. - t ) ) * amount;

  vec3 color = texture2D( uTex, uv + uvOffset ).rgb;

  gl_FragColor = vec4( color, 1.0 );
}

	</script>

</Layout>
<script src="../../scripts/shader/shader06.js"></script>