---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="section-first-view">
    <div class="splide" aria-label="商品のリスト">
      <div class="section-first-view__wrapper" style="margin-top: -121px;">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <a
                href="#!"
                aria-label="AW23 | out-of"
                class="section-first-view__link image-half-width"
                tabindex="-1"
              >
                <picture>
                  <source
                    srcset="//anice-yamazaki.myshopify.com/cdn/shop/files/fv01-01.jpg?crop=center&height=2560&v=1687073688&width=2048"
                    type="image/jpg"
                    media="(max-width: 1023px)"
                  />
                  <img
                    src="//anice-yamazaki.myshopify.com/cdn/shop/files/fv01-01.jpg?v=1687073688&width=2048"
                    width="2048"
                    height="2560"
                    class="utility-collection-card shader-target"
                    style=" object-fit: cover; width: 100%; height: 100%;"
                    loading="eager"
                  />
                </picture>

                <img
                  src="//anice-yamazaki.myshopify.com/cdn/shop/files/fv01-02.jpg?v=1687073687&width=2048"
                  width="2048"
                  height="2560"
                  class="utility-collection-card shader-target"
                  style=" object-fit: cover; width: 100%; height: 100%;"
                  loading="eager"
                />
              </a>
              <div class="section-first-view__slide-title-block">
                <h1 class="section-first-view__slide-title display-font">
                  AW23 | out-of
                </h1>
              </div>
            </li>
            <li class="splide__slide">
              <a
                href="#!"
                aria-label="PICK UP"
                class="section-first-view__link image-half-width"
                tabindex="-1"
              >
                <picture>
                  <source
                    srcset="Liquid error (sections/first-view line 22): invalid url input"
                    type="image/jpg"
                    media="(max-width: 1023px)"
                  />
                  <img
                    src="//anice-yamazaki.myshopify.com/cdn/shop/files/banner01.jpg?v=1686968350&width=2048"
                    width="2048"
                    height="2560"
                    class="utility-collection-card shader-target"
                    style=" object-fit: cover; width: 100%; height: 100%;"
                    loading="eager"
                  />
                </picture>

                <img
                  src="//anice-yamazaki.myshopify.com/cdn/shop/files/banner02.jpg?v=1686968373&width=2048"
                  width="2048"
                  height="2560"
                  class="utility-collection-card shader-target"
                  style=" object-fit: cover; width: 100%; height: 100%;"
                  loading="eager"
                />
              </a>
              <div class="section-first-view__slide-title-block">
                <h1 class="section-first-view__slide-title display-font">
                  PICK UP
                </h1>
              </div>
            </li>

            <li class="splide__slide">
              <a
                href="#!"
                aria-label="ARCHIVE"
                class="section-first-view__link image-half-width"
              >
                <picture>
                  <source
                    srcset="//anice-yamazaki.myshopify.com/cdn/shop/files/fv-aw22-sp.jpg?crop=center&height=2560&v=1689216801&width=2048"
                    type="image/jpg"
                    media="(max-width: 1023px)"
                  />
                  <img
                    src="//anice-yamazaki.myshopify.com/cdn/shop/files/fv-aw22-pc.jpg?v=1689216753&width=2048"
                    width="2048"
                    height="2560"
                    class="utility-collection-card shader-target"
                    style=" object-fit: cover; width: 100%; height: 100%;"
                    loading="eager"
                  />
                </picture>

                <img
                  src="//anice-yamazaki.myshopify.com/cdn/shop/files/fv-ss22-pc.jpg?v=1689216812&width=2048"
                  width="2048"
                  height="2560"
                  class="utility-collection-card shader-target"
                  style=" object-fit: cover; width: 100%; height: 100%;"
                  loading="eager"
                />
              </a>
              <div class="section-first-view__slide-title-block">
                <h1 class="section-first-view__slide-title display-font">
                  ARCHIVE
                </h1>
              </div>
            </li>
          </ul>
        </div>

        <ul
          class="section-first-view__pagination"
          aria-label="Select a slide to show"
        >
          <li
            class="section-first-view__bar"
            role="button"
            aria-label="Go to slide1"
          >
            <div
              class="section-first-view__fill"
              role="progressbar"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
              style="transform: scaleX(0);"
            >
            </div>
          </li>

          <li
            class="section-first-view__bar"
            role="button"
            aria-label="Go to slide2"
          >
            <div
              class="section-first-view__fill"
              role="progressbar"
              aria-valuenow="33"
              aria-valuemin="0"
              aria-valuemax="100"
              style="transform: scaleX(0);"
            >
            </div>
          </li>

          <li
            class="section-first-view__bar"
            role="button"
            aria-label="Go to slide3"
          >
            <div
              class="section-first-view__fill"
              role="progressbar"
              aria-valuenow="66"
              aria-valuemin="0"
              aria-valuemax="100"
              style="transform: scaleX(1); transition: all 5000ms linear 0s;"
            >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <canvas class="myCanvas"></canvas>
  <canvas class="myCanvas"></canvas>
  <canvas class="myCanvas"></canvas>
  <canvas class="myCanvas"></canvas>
  <canvas class="myCanvas"></canvas>
  <canvas class="myCanvas"></canvas>
</Layout>
<script
  src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
></script>
<link
  href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
  rel="stylesheet"
/>

<script src="../../scripts/slider/slider01.js"></script>

<style>
  .section-first-view__wrapper {
    margin-top: -3rem;
  }

  @media screen and (min-width: 1024px) {
    .section-first-view__wrapper {
      margin-top: -7.5rem;
    }
  }

  .section-first-view__link {
    position: relative;
  }

  .section-first-view__link img {
    aspect-ratio: 4/5;
    min-height: 100vh;
    min-height: 100lvh;
  }

  .section-first-view__link > img {
    display: none;
  }

  .section-first-view__slide-title-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100lvh;
    pointer-events: none;
  }

  .section-first-view__slide-title {
    position: absolute;
    bottom: 19.1904047976vh;
    bottom: 19.1904047976lvh;
    left: 50%;
    translate: -50% -32px;
    color: #fff;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0.05em;
  }

  .section-first-view__pagination {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-column-gap: 4px;
    -moz-column-gap: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute !important;
    top: 0;
    left: 50%;
    column-gap: 4px;
    align-items: flex-end;
    justify-content: center !important;
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    height: 100vh;
    height: 100lvh;
    margin: 0 auto;
    padding-bottom: 18.5907046477vh;
    padding-bottom: 18.5907046477lvh;
    translate: -50% 0;
    pointer-events: none;
  }

  .section-first-view__bar {
    position: relative;
    width: 40px;
    height: 32px;
    border-radius: 0;
    cursor: pointer;
    pointer-events: initial;
  }

  .section-first-view__bar:before {
    -webkit-box-shadow: 1px 1px 28px 1px rgba(118, 118, 118, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    translate: -50% -50%;
    background-color: #fff3;
    box-shadow: 1px 1px 28px 1px #76767680;
    content: "";
  }

  .section-first-view__fill {
    -webkit-transform-origin: top left;
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    transform-origin: top left;
    translate: -50% -50%;
    background-color: #fff;
  }

  @media screen and (min-width: 1024px) {
    .section-first-view__link {
      display: grid;
      width: 100%;
    }

    .section-first-view__link.image-half-width {
      grid-template: max-content/repeat(2, 50%);
    }

    .section-first-view__link.image-full-width {
      grid-template: max-content/repeat(1, 100%);
    }

    .section-first-view__link.image-full-width img {
      aspect-ratio: 8/5 !important;
    }

    .section-first-view__link.switch-order picture {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
    }

    .section-first-view__link > img {
      display: block;
    }

    .section-first-view__slide-title {
      bottom: 8.8942307692vh;
      font-size: 1.25rem;
      line-height: 100%;
      letter-spacing: 0.05em;
    }

    .section-first-view__pagination {
      padding-bottom: 7.2115384615vh;
    }

    .section-first-view__bar {
      width: 56px;
    }
  }
</style>
