// ===============================================
// # countdown_ny
// ===============================================
* {
  box-sizing: border-box;
}
:root {
  --font-primary: 0.8rem; //13px
  // --font-secondary: 0.625rem; // 10px
  --font-secondary: 0.75rem; // 10px
  --font-tertiary: 0.75rem; // 12px
  --font-heading: 1rem; // 15px
  --color-card: #323536;
}
a,
img,
button {
  display: block;
}
:root {
}
body {
  background-color: #000000;
  line-height: 1.6;
}

@media (hover: hover) {
  .handle-fadein {
    transform: translateY(10px);
    opacity: 0;
  }
}
body {
  // background-color: rebeccapurple;
}
// ===============================================
// # bg-logo
// ===============================================
.js-bg {
  img {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: calc(100% - 80px);
    height: auto;
    z-index: 0;

    // background-color: rebeccapurple;
  }
  @media only screen and (min-width: 959px) {
    img {
      width: calc((524 / 1280) * 100%);
      opacity: 0;
      transition: opacity ease 0.4s;
      &.is-show {
        opacity: 1;
      }
    }
  }
}

// ===============================================
// # link
// ===============================================
.link-primary {
  border: 1px solid #fff;

  padding: 0.75rem 0; //12px 40px
  text-align: center;
  font-size: var(--font-tertiary);
  color: #fff !important;

  &--large {
    min-width: 170px;
  }
}
#lookbook_ny {
  color: #fff;
  position: relative;
  z-index: 1;
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template: max-content 1fr max-content / 100%;
  align-items: flex-end;
  font-size: 16px;
  header {
    align-items: center;
  }
  // ===============================================
  // # wrapper
  // ===============================================
  .wrapper {
    background-color: #000000;
    position: relative;
    // margin-top: 100vh;
  }
  // ===============================================
  // # video
  // ===============================================
  // .test {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   background-color: rebeccapurple;
  // }
  .video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // ===============================================
  // # modal
  // ===============================================

  .modal {
    opacity: 0;
    visibility: hidden;
    // transform: translateY(2%);
    transition: opacity 0.2s 0s ease, transform 0.3s 0.1s ease;
    width: 92%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    display: grid;
    place-items: center;
    // top: calc((80 / 667) * 100vh / 2);
    // left: 50%;
    // translate: -50% 0;
    overflow: auto;
    // height: calc((100vh - ((80 / 667) * 100vh)));
    // &::before {
    //   content: "";
    //   width: 100vw;
    //   height: 100vh;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   background-color: rgba(80, 80, 80, 0.5);
    //   filter: blur(10px);
    // }
    &.is-shown {
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }

    .modal_inner {
      height: calc((100vh - ((80 / 667) * 100vh)));
      overflow: auto;
    }
    .modal_container {
      max-width: 1000px;
      margin: 0 auto;
      position: relative;
      &:first-child {
        background-color: var(--color-card);
        padding: 1.25rem 1.25rem 3rem;
        display: block;
      }

      &:nth-of-type(2) {
        padding: 3rem 1.25rem;
      }
    }
    .modal_bg {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }

    .modal_buttom {
      margin-left: auto;
      width: 1.25rem;
      height: auto;
      aspect-ratio: 1/1;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    .modal_title {
      font-size: var(--font-heading);
      text-align: center;
    }
    .modal_logo {
      width: 72px;
      height: auto;
      margin: 1.5rem auto 0;
    }
    .modal_text-box {
      margin-top: 2rem;
      font-size: var(--font-tertiary);
      width: 76%;
      margin: 0 auto;
    }
    .modal_text {
      margin-top: 1rem;
      padding-top: 1.5rem;
    }
    .first-line {
      padding-bottom: 0.75rem;
      display: block;
    }
    .modal_link {
      margin-top: 2rem;
    }

    @media only screen and (min-width: 959px) {
      .modal_container {
        .modal_box {
          display: grid;
          grid-template: max-content / max-content 1fr;
          column-gap: 2rem;
          margin-top: 1.5rem;
        }
        &:first-child {
        }
        .modal_logo {
          margin-top: 0;
          padding-top: 0;
          width: 5.6rem;
        }
      }
      .modal_text {
        margin-top: 0;
        padding-top: 0;
      }
      .modal_link {
        width: 170px;
      }
    }
  }
  // ===============================================
  // # opening
  // ===============================================
  .opening {
    width: 100vw;
    height: 100vh;
    height: 100lvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 200;
  }
  // ===============================================
  // # fv
  // ===============================================
  .fv {
    height: 100vh;
    height: 100dvh;
    // display: grid;
    // grid-template-areas: "title title" "scroll-link container";
    padding: calc((50 / 667) * 100vh) 1.875rem 1.875rem; //30px
    position: relative;
  }

  @media only screen and (min-width: 959px) {
    .fv {
      // grid-template-areas: "title container" "scroll-link container";
      padding-left: calc((120 / 1280) * 100vw);
      padding-right: min(calc((120 / 1280) * 100vw), 120px);
    }
  }
  .fv_title {
    font-size: 2.25rem;
    // margin-top: calc((50 / 667) * 100vh);
    line-height: 1.15;
    // grid-area: title;
  }
  .fv_container {
    justify-self: flex-end;
    width: calc((245 / 375) * 100vw);
    max-width: 280px;
    margin-top: calc((75 / 667) * 100vh);
    margin-left: auto;
    // grid-area: container;
  }
  @media only screen and (min-width: 520px) {
    .fv_container {
      max-width: 400px;
    }
  }
  .fv_container_scrolldown {
    writing-mode: vertical-rl;
    width: fit-content;
    height: fit-content;
    // position: relative;
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    align-self: flex-end;
    white-space: nowrap;
    transform: translateY(-40px);
    grid-area: scroll-link;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 1px;
      height: 40px;
      background-color: #fff;
      animation: scroll-bar ease 2s infinite;
      transform-origin: top left;
    }
    @keyframes scroll-bar {
      0% {
        transform: translate(-50%, 120%) scaleY(0);
        transform-origin: top left;
      }
      50% {
        transform: translate(-50%, 120%) scaleY(1);
        transform-origin: top left;
      }
      51% {
        transform: translate(-50%, 120%) scaleY(1);
        transform-origin: bottom left;
      }
      100% {
        transform: translate(-50%, 120%) scaleY(0);
        transform-origin: bottom left;
      }
    }
  }
  .text {
    &:first-child {
      font-size: var(--font-primary);
    }
    &:nth-child(2) {
      font-size: var(--font-secondary);
      margin-top: 1rem;
    }
  }
  .fv_link {
    margin-top: 1rem;
  }

  @media only screen and (min-width: 959px) {
    .fv {
      display: flex;
      align-items: flex-end;
    }

    align-items: flex-end;
    .fv_container {
      width: fit-content;
      margin-top: 0;
      padding-bottom: 20%;
    }
    .fv_layout {
      display: grid;
      grid-template: max-content/ max-content 1fr;
      column-gap: 2rem;
      justify-content: space-between;
      width: 100%;
    }
    .fv_container_title,
    .fv_container_box {
      margin-top: 0;
    }
    .fv_title {
      font-size: 3rem;
      // margin-top: 10vh;
    }
    .fv_container_box {
      max-width: 285px;
    }
    .fv_link {
      margin-top: 2.75rem; // 44px
    }
    .fv_container_scrolldown {
      left: 5rem;
    }
  }

  // ===============================================
  // # app
  // ===============================================
  .app {
    width: calc(100% - 2rem);
    max-width: 1000px;
    height: auto;
    max-height: 204px;
    aspect-ratio: 345/170;
    margin: 12rem auto 0;
    padding: 4rem 2rem;
    position: relative;
    z-index: 1;
    background-color: var(--color-card);
    .app_title {
      font-size: var(--font-heading);
    }
    .app_content {
      display: grid;
      grid-template: max-content max-content / 1fr;
      row-gap: 2rem;
      margin-top: 1rem;
    }
    .app_text {
      font-size: var(--font-secondary);
    }
    .app_box {
      display: grid;
      grid-template: max-content/repeat(2, 40%);
      column-gap: 8px;
      .link-primary {
        width: 100%;
      }
    }
    @media only screen and (min-width: 959px) {
      width: calc((800 / 1280) * 100%);
      .app_inner {
        width: 84%;
        margin: 0 auto;
        display: grid;
        grid-template: max-content / max-content 1fr;
        column-gap: 10%;
      }
      .app_content {
        grid-template: max-content max-content / 1fr;
        row-gap: 2.5rem;
        margin-top: 0;
      }
    }
  }
  // ===============================================
  // # l-lookbook
  // ===============================================
  .l-lookbook {
    padding: 6rem 0 0;
    position: relative;
    margin: 0 auto;

    @media only screen and (min-width: 959px) {
      padding-top: 0;
      display: grid;
      grid-template: max-content / 1fr 1fr;
      align-items: center;
      width: 92%;
    }
    // ===============================================
    // # handle-scroll
    // ===============================================
    @media only screen and (min-width: 959px) {
      // .handle-fadein-fixed {
      //   opacity: 0;
      //   transition: opacity 0.2s ease-in;
      // }:

      .js-text-box {
        height: 100%;
        display: grid;
        place-items: center;
        // &.is-show {
        //   opacity: 1;
        //   // .handle-fadein-fixed {
        //   //   opacity: 1;
        //   // }
        // }
      }
    }
    //.l-lookbook_container-text
    // ===============================================
    .l-lookbook_container-text {
      max-width: 600px;
      position: relative;
      padding: 0 40px;
      margin: 0 auto;
    }
    .l-lookbook_title {
      img {
        width: 122px;
        height: auto;
      }
    }
    .l-lookbook_container {
      margin-top: 3rem; // 48px
    }
    .l-lookbook_block {
      display: grid;
      grid-template: max-content/ max-content 1fr;
      column-gap: 0.875rem; // 14px
      &:nth-of-type(2) {
        margin-top: 1.25rem; // 20px
      }
    }
    .l-lookbook_term {
      font-size: var(--font-primary);
      font-weight: 400;
    }
    .l-lookbook_desc {
      font-size: var(--font-secondary);
    }
    .l-lookbook_link {
      margin-top: 2.75rem; // 44px
      max-width: 70%;
    }
    @media only screen and (min-width: 959px) {
      .l-lookbook_container-text {
        max-width: 500px;
        padding-left: 0;
        position: static;
      }
    }
    @media only screen and (min-width: 1260px) {
      .l-lookbook_container-text {
        padding: 0 0;
      }
    }

    //.l-lookbook_container-image
    // ===============================================
    .l-lookbook_container-image {
      padding-top: 5.5rem; //88px

      img {
        width: 100%;
        height: auto;
      }
    }
    @media only screen and (min-width: 959px) {
      --basis-w: 280px;
      --order-2: 0.67;
      --order-3: 0.82;
      --order-4: 0.88;
      --margin-s: 16px;
      --margin-l: 64px;
      --translate-vs: -72px;
      --translate-vl: -136px;
      .l-lookbook_container-image {
        display: grid;
        grid-template: max-content max-content / max-content max-content;
        column-gap: 6%;

        img {
          width: var(--basis-w);
          position: relative;
          object-fit: cover;
          &:first-child {
            align-self: flex-end;
          }
          &:nth-child(2) {
            transform: scale(var(--order-2));
            left: var(--margin-s);
            transform-origin: bottom left;
            top: var(--translate-vl);
            aspect-ratio: 192/304 !important;
          }
          &:nth-child(3) {
            transform: scale(var(--order-3));
            transform-origin: top right;
            top: var(--margin-l);
            right: var(--margin-s);
            aspect-ratio: 232/312 !important;
          }
          &:nth-child(4) {
            transform: scale(var(--order-4));
            transform-origin: top left;
            top: var(--translate-vs);
          }
        }
      }
    }
  }
  .notes {
    width: 100%;
    padding: 2rem 1rem;
    position: relative;
    z-index: 10;
    .notes_list {
      margin: 4rem auto 0;
      border-top: 1px solid #fff;
    }
    .nodes_item {
      margin-top: 1.5rem;
    }
    .notes_term {
      font-size: var(--font-heading);
    }
    .notes_desc {
      margin-top: 0.75rem;
      font-size: var(--font-secondary);

      .r-1q9bdsx {
        border-radius: 0 !important;
      }
      .dummy {
        aspect-ratio: 16/9;
        width: 100%;
        height: auto;
        background-color: palegoldenrod;
      }
    }
    @media only screen and (min-width: 959px) {
      padding-left: calc((120 / 1280) * 100vw);
      padding-right: calc((120 / 1280) * 100vw);
      .nodes_item {
        display: grid;
        grid-template: max-content / 3fr 7fr;
        column-gap: 2rem;
        margin-top: 6rem;
      }
    }
  }
}
