/* -- リセット系 -- */

/* -- リセット系 -- */
body {
  background-color: darkslateblue;
}

/* -- ここまで -- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* 画像リスト用のスタイル */
.container {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}

.webgl-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 10vw;
  z-index: 1;
}

.webgl-canvas__body {
  display: block;
  width: 10%;
  height: 10%;
}

.image-list {
  width: 80%;
  margin: 0 auto;
  padding: 180px 0;
}

.image-item {
  /* width: 100%; */
}

.image-item:not(:first-of-type) {
  margin-top: 180px;
}

.image-wrapper {
  display: block;
  width: 100%;
  height: auto;
}

.image-wrapper > img {
  width: 100%;
  height: auto;
  object-fit: fill;
  opacity: 0;
}
