---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <canvas id="myCanvas"></canvas>

    <!-- スクロール用コンテナ -->
    <div id="scroll-container">
      <h1 id="scroll-container_title">THREEJS<br />TUTORIAL<br />04</h1>
    </div>
  </main>
</Layout>

<script src="../../scripts/dom/dom01.js"></script>

<small
  ><a href="https://qiita.com/watabo_shi/items/0811d03390c18e46be86"
    >https://qiita.com/watabo_shi/items/0811d03390c18e46be86</a
  ></small
>
