---
import Layout from "../../layouts/Layout.astro";
import "../../styles/count-down-after.scss";
---

<Layout title="Welcome to Astro.">
  <main id="main">
    <section id="countdown_ny">
      <video
        class="video-bg"
        src="../../../public/mov2-pc.mp4"
        autoplay
        muted
        playsinline></video>
      <header>
        <div class="image-box">
          <a href="https://theshopyohjiyamamoto.jp/">
            <img
              src="../../../public/page-title.png"
              alt="the shop"
              width="394"
              height="90"
            />
          </a>
        </div>
      </header>
      <div class="upper-container">
        <h1 class="title">DUMMY TEXT DUMMY <br /> AT NEW YORK STORE</h1>
        <div class="text-box">
          <p class="text">
            DUMMY TEXT DUMMY DUMMY TEXT DUMMY TEXT DUMMY DUMMY TEXT DUMMY
          </p>
          <p class="text">
            DUMMY TEXT DUMMY DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY DUMMY DUMMY
            TEXT DUMMY DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY DUMMY DUMMY TEXT
            DUMMY DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY DUMMY DUMMY TEXT DUMMY
            DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY DUMMY DUMMY TEXT DUMMY DUMMY
            TEXT DUMMY TEXT DUMMY TEXT DUMMY DUMMY DUMMY TEXT DUMMY DUMMY TEXT
            DUMMY TEXT DUMMY DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY DUMMY DUMMY
            TEXT DUMMY DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY DUMMY DUMMY TEXT
            DUMMY DUMMY TEXT DUMMY TEXT DUMMY TEXT DUMMY DUMMY DUMMY TEXT DUMMY
            DUMMY TEXT DUMMY TEXTDUMMY TEXT DUMMY DUMMY DUMMY TEXT DUMMY DUMMY
            TEXT DUMMY TEXT DUMMY TEXT DUMMY DUMMY DUMMY TEXT
          </p>
        </div>
      </div>

      <div class="lower-container">
        <button class="music-button" id="click-handle"
          ><span class="music-button__frame"></span>
          <span class="music-button__figure">再生</span>
        </button>
        <a href="#!" class="link-event-page">VIEW ALL IETMS</a>
      </div>
    </section>
  </main>
</Layout>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.154.0/three.min.js"
  integrity="sha512-WafpPDLG+DwH6lDCsUrzvXU6/TAEFoUmK5udCmfzEoYyK28uXLF5DWk3yLOQ1PqLo9cxH/Ys/Jex6q1jHu+EDQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
