---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>three.js practice</h1>
    <div class="wrapper">
      <ul>
        <li><h2>01. カメラ</h2></li>
        <li><a href="./camera/rotate01">rotate01</a></li>
        <li><a href="./camera/rotate02">rotate02</a></li>
        <li><a href="./camera/rotate03">rotate03</a></li>
        <li><a href="./camera/rotate04">rotate04</a></li>
        <li><a href="./camera/perspective">perspective</a></li>
      </ul>
      <ul>
        <li><h2>02. モデルの読み込み</h2></li>
        <li><a href="./model/model-data01">model-data01</a></li>
      </ul>
      <ul>
        <li><h2>03. ライト</h2></li>
        <li><a href="./light/light01">light01</a></li>
        <li><a href="./light/light02">light02</a></li>
      </ul>
      <ul>
        <li><h2>04. ShaderMaterial</h2></li>
        <li><a href="./shader/shader01">shader01</a></li>
        <li><a href="./shader/shader02">shader02</a></li>
        <li><a href="./shader/shader03">shader03</a></li>
        <li><a href="./shader/shader04">shader04</a></li>
        <li>
          <a href="./shader/shader05">shader05</a> 画像の切り替え
        </li>
        <li>
          <a href="./shader/shader06">shader06</a> 画像の切り替え
        </li>
        <li><a href="./shader/shader-test">shader-test</a></li>
        <li><a href="./shader/shader-sample">shader-sample</a></li>
        <li><a href="./shader/shader-try">shader-try</a></li>
      </ul>
      <ul>
        <li><h2>05. mouse interaction</h2></li>
        <li>
          <a href="./interaction/interaction01">interaction01</a> mousemove
        </li>
        <li>
          <a href="./interaction/interaction02">interaction02</a> scroll
        </li>
      </ul>
      <ul>
        <li><h2>06. DOM要素との連携</h2></li>
        <li>
          <a href="./dom/dom01">dom01</a>
        </li>
      </ul>
      <ul>
        <li><h2>07. webgl slider</h2></li>
        <li>
          <li><a href="./slider/slider01">slider01</a></li>
        </li>
      </ul>
      <ul>
        <li><h2>08. gradient</h2></li>
        <li>
          <li><a href="./gradient/gradient01">gradient01</a></li>
        </li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    width: 80%;
    margin: 0 auto;
  }
  .wrapper {
    display: grid;
    grid-template: max-content/repeat(3, max-content);
    justify-content: center;
    margin-top: 64px;
    gap: 24px;
  }
  h2 {
    font-size: 1rem;
  }
  ul {
    padding-left: 0;
  }
</style>
