---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ul>
			<li><a href="./rotate01">rotate01</a></li>
			<li><a href="./rotate02">rotate02</a></li>
			<li><a href="./rotate03">rotate03</a></li>
		</ul>
		<ul>
			<li><a href="./model-data01">model-data01</a></li>
		</ul>
	</main>
</Layout>