---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ul>
			<li><a href="./rotate_task01">rotate_task01</a></li>
			<li><a href="./rotate_task02">rotate_task02</a></li>
			<li><a href="./rotate_task03">rotate_task03</a></li>
		</ul>
	</main>
</Layout>