---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <canvas id="myCanvas"></canvas>
  </main>
</Layout>

<script src="../../scripts/interaction/interaction02.js"></script>

<small
  ><a href="https://qiita.com/watabo_shi/items/0811d03390c18e46be86"
    >https://qiita.com/watabo_shi/items/0811d03390c18e46be86</a
  ></small
>
